<section class="section">
    <%= image_tag("background2.png", :class => "bg") %>
    <div class="columns">
        <div class="column is-half is-offset-one-quarter auth-form">
            <h2 class="title is-3">Sign up</h2>
            <div class="box">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="control">
                        <%= f.label :email, class: "label" %>
                        <%= f.email_field :email, autofocus: true, class: "input" %>
                    </div>

                    <div class="control">
                        <%= f.label :password, class: "label" %>
                        <%= f.password_field :password, autocomplete: "off", class: "input" %>
                        <% if @minimum_password_length %>
                            <span class="help is-success">(<%= @minimum_password_length %> characters minimum)</span>
                        <% end %>
                    </div>

                    <div class="control">
                        <%= f.label :password_confirmation, class: "label" %>
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
                    </div>

                    <div class="control">
                        <%= f.submit "Sign up", class: "button is-primary" %>
                    </div>
                <% end %>

                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</section>
