<section class="section">
	<%= image_tag("background1.png", :class => "bg") %>
	<div class="columns">
		<div class="column overlay">
			<div class="box">
				<h1 class="title is-2"><%= @story.title %></h1>
				<h2 class="subtitle is-3 author">By <%= @story.user.username %></h2>
				<div class="content">
					<p><%= simple_format(@story.content) %></p>
				</div>
				<%= link_to image_tag("reactions/reactions_hug.png", :class => "reaction_icon"), hug_path  %>
				<% if @message %>
      		<%= link_to image_tag("reactions/reactions_reachout.png", :class => "reaction_icon"), reachout_path %>
				<% end %>
      	<%= link_to image_tag("reactions/reactions_support.png", :class => "reaction_icon"), support_path %>


				<% if current_user.id == @story.user_id%>
					<%= link_to "Edit story", edit_story_path(@story), class: "button", style: "margin-right: 6px;" %>
					<%= link_to "Delete story", story_path(@story), method: :delete, data: {confirm: "Confirm delete?"}, class: "button is-danger"%>
				<% end %>
			</div>
		</div>
	</div>

</section>
