<!DOCTYPE html>
<html>
    <head>
        <title>Pro Talk</title>
        <%= csrf_meta_tags %>

        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Playfair+Display" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render "shared/navbar" %>

        <div class="container">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>

            <%= yield %>
        </div>

    </body>
</html>
