<!DOCTYPE html>
<html>
    <head>
        <title>Pro Talk</title>
        <%= csrf_meta_tags %>

        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Playfair+Display" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <% if params[:action] != "landing" %>
            <%= render "shared/navbar" %>


            <div id="main" class="container">

                <% if notice %>
                    <div class="notification is-info alert">
                        <%= notice %>
                    </div>
                <% end %>

                <% if alert %>
                    <div class="notification is-danger alert">
                        <%= alert %>
                    </div>
                <% end %>
                <%= yield %>
            </div>


        <% else %>

            <%= yield %>

        <% end %>

    </body>
</html>
